.toggleButtonRoot {
  font-size: 0.875rem; /* text-sm */
  font-weight: bold;
  padding: 8px 16px; /* px-4 py-2 */
  border-radius: 999px; /* rounded-full */
  text-transform: capitalize; /* Apenas primeira letra maiúscula */
  background-color: #eeeeee; /* Fundo padrão */
  color: #a6b6cc; /* Cor do texto padrão */
}

.toggleButtonSelected {
  background-color: #ff4e6d !important;
  color: #ffffff !important;
  box-shadow: 0 0px 12px #ff4e6d;
}

.imageBoxes {
  border: 2px dashed #ff4e6d;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
